@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Geologica:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #04080F;
}

nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #04080F;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding-top: 15px; 
    padding-bottom: 10px; 
    box-sizing: border-box;
    text-decoration: none;
}

.menu {
    display: flex;
    gap: 50px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight:900;
    color: white;
    text-decoration: none;
    list-style: none;
}

.item_padrao, .item_ativo {
    opacity: 0;
    transform: translateY(-20px);
    animation: slideDown 0.6s forwards;
    transition: font-size 0.4s ease, text-shadow 0.4s ease;
}

.menu li.item_ativo {
    animation-delay: 0.3s;
}

.menu li.item_padrao {
    animation-delay: 0.5s;
}

.item_padrao:hover {
    font-size: 32px;
    text-shadow: 0 0 10px white;
    transition: font-size 0.3s ease, text-shadow 0.4s ease;
}

@keyframes slideDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.item_padrao {
    transition: font-size 0.4s ease;
    font-size: 24px;
}

.item_ativo {
    font-size: 42px;
    text-shadow: 0 0 6px white;
}