@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Geologica:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --cor-fundo: #DAE3E5;
  --cor-texto: #04080F;
  --cor-navbar: #A9C9F5;
  --cor-destaque: #507DBC;
  --cor-destaque-2: #A1C6EA;
  --sombra-navbar: rgba(0, 0, 0, 0.1);
}

body.dark {
  --cor-fundo: #04080F;
  --cor-texto: #DAE3E5;
  --cor-navbar: #000000;
  --cor-destaque: #A1C6EA;
  --cor-destaque-2: #507DBC;
  --sombra-navbar: rgba(255, 255, 255, 0.1);
}

body {
    background: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    transition: all 0.4s ease;
}

body {
    font-size: 1em; 
}

.degrade-apos-nav {
    height: 35px;
    background: linear-gradient(to bottom, var(--cor-navbar), var(--cor-fundo));
}

nav {
    position: sticky;
    top: 0;
    z-index: 999; /* garantir que fique por cima */
    background-color: var(--cor-navbar);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 20px;
}

.menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}


.botoes-acessibilidade,
.botao-tema {
    display: flex;
    gap: 10px;
}

.botoes-acessibilidade button,
.botao-tema button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.botoes-acessibilidade img,
.botao-tema img {
    display: block;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

#toggle-theme {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.menu a {
    font-family: "Cal sans", serif;
    font-weight: 500;
    text-decoration: none;
    color: var(--cor-texto);
    transition: color 0.3s, text-shadow 0.3s;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.3); 
}


.item_ativo a {
    color: var(--cor-destaque);
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.5); 
}

.item_padrao a:hover {
    color: #333333; 
    text-shadow: none;
}

.tituloCartilha {
    font-size: 4.5rem;  
    font-weight: 900;     
    font-family: 'Geologica', sans-serif; 
    margin-bottom: 5px;
    animation: slideDownTitle 1.2s ease forwards;
}

@keyframes slideDownTitle {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.subtituloCartilha {
    font-family: "Geologica", "Sans-serif";
    font-size: 22px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 250px;
    animation: slideDownTitle 0.8s ease forwards;
    animation-delay: 0.3s;
    opacity: 0; 
}

.tituloPrincipal {
    text-align: center;
    padding: 2px 20px 30px;
    background: none;
}

.tituloArticle {
    font-family: "Raleway", "Sans-serif";
    font-weight: 800;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 10px;
}

.cartilha h2 {
    color: var(--cor-destaque);
    border-bottom: 2px solid var(--cor-destaque-2);
    padding-bottom: 5px;
    font-size: 3.5rem; 
    font-weight: 900; 
}

.cartilha p {
    font-family: 'Geologica', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 10px;
}


.cartilha li {
    margin-bottom: 8px;
    padding-left: 15px; 
    position: relative;
}


.cartilha article {
    margin-bottom: 60px;
}


.cartilha article:not(:has(ul)) {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}


.cartilha article:not(:has(ul)) h2 {
    font-size: 1.8rem;
    color: var(--cor-destaque);
    border: none;
    flex: 1;
    margin: 0;
}


.cartilha article:not(:has(ul)) p {
    flex: 2;
    margin: 0 0 10px 0;
}


.cartilha ul {
    padding-left: 20px;
    margin-top: 10px;
    list-style: none;
    padding-left: 0; 
    margin-top: 10px;

}


.cartilha article:has(ul) h2 {
    color: var(--cor-destaque);
    border-bottom: 2px solid var(--cor-destaque-2);
    padding-bottom: 5px;
    margin-bottom: 10px;
}


footer {
    font-family: "Roboto Condensed", "Serif";
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid var(--cor-destaque);
    max-width: 95%;      
    margin: 0 auto;
    box-sizing: border-box;
}

.item_padrao, .item_ativo {
    opacity: 0;
    transform: translateY(-20px);
    animation: slideDown 0.6s forwards;
    transition: font-size 0.4s ease, text-shadow 0.4s ease;
}

.item_padrao {
    margin-top: 3px;
    font-size: 32px;
}



.item_ativo {
    margin-top: 8px;
}

.menu li.item_ativo {
    animation-delay: 0.3s;
}

.menu li.item_padrao {
    animation-delay: 0.5s;
}

.item_padrao:hover {
    font-size: 40px;
    text-shadow: 0 0 11px white;
    transition: font-size 0.3s ease, text-shadow 0.4s ease;
}

@keyframes slideDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.item_ativo {
    font-size: 50px;
    text-shadow: 0 0 6px black;
}

.contatoA {
    font-family: "Poetsen One", sans-serif;
    margin: 40px;
  }

.container {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: auto;
  }

.info, .form {
    width: 45%;
  }

.info h3, .form h3 {
    font-family: "Poetsen One", sans-serif;
    font-weight: normal;
}

.info p {
    margin: 5px 0;
  }

.social-icons a {
    margin-right: 10px;
    text-decoration: none;
    font-size: 20px;
  }

.form input, .form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

.form button {
    padding: 10px 20px;
  }
